<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hi this is users  </h1>
       <h2>Hi this is users <%= userlist[1] %>
        Hi this is users <%= userlist[2] %> <br>
        Hi this is users <%= userlist[3] %> <br>
        Hi this is users <%= userlist[4] %> <br>
        Hi this is users <%= userlist[5] %> <br>
        Hi this is users <%= userlist[6] %> <br>
        Hi this is users <%= userlist[7] %> <br>
    </h2> 
  
 
    
        
     </h2>
</body>
</html>